.body {
    background-color: #f8f9fa;
    font-family: sans-serif;
}

.label_div {
    font-family: sans-serif;
    color: black;
    font-size: 14px;
}

.table > tbody > tr > td {
    border: none;
    padding: 2px;
}